Addatone_MachX03/addatone_sim/compile/*
Addatone_MachX03/adc_sim/*
Addatone_MachX03/addatone_sim/work/*
Addatone_MachX03/impl1/*
Addatone_MachX03/Addatone_tcr.dir/*
Addatone_MachX03/addatone_sim/src/wave.asdbw/*
Addatone_MachX03/testsim/
Addatone_STM32F405/Debug/*
Addatone_STM32F446/Debug/*
Addatone_ICE40/Addaton_Sim/*
Addatone_ICE40/Addatone_Sim/*
Addatone_ICE40/impl_addatone_old/
*.html
*.log
*.tcr
*.arearep
*.bak
*.fxp
*.sch-bak
*.zip
*.dmp

*.par
*.tw1
*.twr
*.tws
*.mrp
*.hrr
*.bgn
*.kicad_pcb-bak
*.d
*.su
*.o
*.mk
*.list
*.map
Addatone_ICE40/.recovery
*.err
*.lck
Hardware/\#auto_saved_files\#
Hardware/_autosave-AddaTone components.sch
