rvl_alias "fpga_clock" "fpga_clock";
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "rstn" SITE "B3" ;
IOBUF PORT "rstn" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "dac_spi_clock" SITE "B6" ;
LOCATE COMP "dac_spi_cs" SITE "B4" ;
LOCATE COMP "dac_spi_data" SITE "B5" ;
IOBUF PORT "dac_spi_clock" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dac_spi_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dac_spi_data" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "adc_spi_clock" SITE "H14" ;
LOCATE COMP "adc_spi_data" SITE "K15" ;
IOBUF PORT "adc_spi_clock" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_spi_data" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
BLOCK JTAGPATHS ;
LOCATE COMP "adc_spi_nss" SITE "K14" ;
IOBUF PORT "adc_spi_nss" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
VOLTAGE 3.300 V;
LOCATE COMP "err_out" SITE "F9" ;
IOBUF PORT "err_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "crystal_osc" SITE "C8" ;
IOBUF PORT "crystal_osc" IO_TYPE=LVDS25 PULLMODE=NONE ;
LOCATE COMP "debug_out" SITE "E8" ;
IOBUF PORT "debug_out" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
