rvl_alias "fpga_clock" "fpga_clock";
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
RVL_ALIAS "fpga_clock" "fpga_clock"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "rstn" SITE "B3" ;
IOBUF PORT "rstn" PULLMODE=UP IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
VOLTAGE 3.300 V;
LOCATE COMP "err_out" SITE "F9" ;
IOBUF PORT "err_out" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "crystal_osc" SITE "C8" ;
IOBUF PORT "crystal_osc" IO_TYPE=LVDS25 PULLMODE=NONE ;
LOCATE COMP "debug_out" SITE "E8" ;
IOBUF PORT "debug_out" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_clock" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "adc_data" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dac_bit" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dac_clock" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "dac_cs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "adc_clock" SITE "H14" ;
LOCATE COMP "adc_cs" SITE "K14" ;
LOCATE COMP "adc_data" SITE "K15" ;
LOCATE COMP "dac_bit" SITE "B5" ;
LOCATE COMP "dac_clock" SITE "B6" ;
LOCATE COMP "dac_cs" SITE "B4" ;
