(edif SamplePos_RAM
  (edifVersion 2 0 0)
  (edifLevel 0)
  (keywordMap (keywordLevel 0))
  (status
    (written
      (timestamp 2020 2 25 11 42 39)
      (program "SCUBA" (version "Diamond (64-bit) 3.11.2.446"))))
      (comment "C:\lscc\diamond\3.11_x64\ispfpga\bin\nt64\scuba.exe -w -n SamplePos_RAM -lang verilog -synth lse -bus_exp 7 -bb -arch xo3c00f -type bram -wp 10 -rp 1000 -addr_width 8 -data_width 16 -num_rows 256 -cascade -1 -memfile d:/eurorack/addatone/addatone_machx03/lut/sample_pos_lut.mem -memformat hex -writemode NORMAL ")
  (library ORCLIB
    (edifLevel 0)
    (technology
      (numberDefinition))
    (cell VHI
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell VLO
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Z
            (direction OUTPUT)))))
    (cell DP8KC
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port DIA8
            (direction INPUT))
          (port DIA7
            (direction INPUT))
          (port DIA6
            (direction INPUT))
          (port DIA5
            (direction INPUT))
          (port DIA4
            (direction INPUT))
          (port DIA3
            (direction INPUT))
          (port DIA2
            (direction INPUT))
          (port DIA1
            (direction INPUT))
          (port DIA0
            (direction INPUT))
          (port ADA12
            (direction INPUT))
          (port ADA11
            (direction INPUT))
          (port ADA10
            (direction INPUT))
          (port ADA9
            (direction INPUT))
          (port ADA8
            (direction INPUT))
          (port ADA7
            (direction INPUT))
          (port ADA6
            (direction INPUT))
          (port ADA5
            (direction INPUT))
          (port ADA4
            (direction INPUT))
          (port ADA3
            (direction INPUT))
          (port ADA2
            (direction INPUT))
          (port ADA1
            (direction INPUT))
          (port ADA0
            (direction INPUT))
          (port CEA
            (direction INPUT))
          (port OCEA
            (direction INPUT))
          (port CLKA
            (direction INPUT))
          (port WEA
            (direction INPUT))
          (port CSA2
            (direction INPUT))
          (port CSA1
            (direction INPUT))
          (port CSA0
            (direction INPUT))
          (port RSTA
            (direction INPUT))
          (port DIB8
            (direction INPUT))
          (port DIB7
            (direction INPUT))
          (port DIB6
            (direction INPUT))
          (port DIB5
            (direction INPUT))
          (port DIB4
            (direction INPUT))
          (port DIB3
            (direction INPUT))
          (port DIB2
            (direction INPUT))
          (port DIB1
            (direction INPUT))
          (port DIB0
            (direction INPUT))
          (port ADB12
            (direction INPUT))
          (port ADB11
            (direction INPUT))
          (port ADB10
            (direction INPUT))
          (port ADB9
            (direction INPUT))
          (port ADB8
            (direction INPUT))
          (port ADB7
            (direction INPUT))
          (port ADB6
            (direction INPUT))
          (port ADB5
            (direction INPUT))
          (port ADB4
            (direction INPUT))
          (port ADB3
            (direction INPUT))
          (port ADB2
            (direction INPUT))
          (port ADB1
            (direction INPUT))
          (port ADB0
            (direction INPUT))
          (port CEB
            (direction INPUT))
          (port OCEB
            (direction INPUT))
          (port CLKB
            (direction INPUT))
          (port WEB
            (direction INPUT))
          (port CSB2
            (direction INPUT))
          (port CSB1
            (direction INPUT))
          (port CSB0
            (direction INPUT))
          (port RSTB
            (direction INPUT))
          (port DOA8
            (direction OUTPUT))
          (port DOA7
            (direction OUTPUT))
          (port DOA6
            (direction OUTPUT))
          (port DOA5
            (direction OUTPUT))
          (port DOA4
            (direction OUTPUT))
          (port DOA3
            (direction OUTPUT))
          (port DOA2
            (direction OUTPUT))
          (port DOA1
            (direction OUTPUT))
          (port DOA0
            (direction OUTPUT))
          (port DOB8
            (direction OUTPUT))
          (port DOB7
            (direction OUTPUT))
          (port DOB6
            (direction OUTPUT))
          (port DOB5
            (direction OUTPUT))
          (port DOB4
            (direction OUTPUT))
          (port DOB3
            (direction OUTPUT))
          (port DOB2
            (direction OUTPUT))
          (port DOB1
            (direction OUTPUT))
          (port DOB0
            (direction OUTPUT)))))
    (cell SamplePos_RAM
      (cellType GENERIC)
      (view view1
        (viewType NETLIST)
        (interface
          (port Clock
            (direction INPUT))
          (port ClockEn
            (direction INPUT))
          (port Reset
            (direction INPUT))
          (port WE
            (direction INPUT))
          (port (array (rename Address "Address(7:0)") 8)
            (direction INPUT))
          (port (array (rename Data "Data(15:0)") 16)
            (direction INPUT))
          (port (array (rename Q "Q(15:0)") 16)
            (direction OUTPUT)))
        (property NGD_DRC_MASK (integer 1))
        (contents
          (instance scuba_vhi_inst
            (viewRef view1 
              (cellRef VHI)))
          (instance scuba_vlo_inst
            (viewRef view1 
              (cellRef VLO)))
          (instance SamplePos_RAM_0_0_0
            (viewRef view1 
              (cellRef DP8KC))
            (property INIT_DATA
              (string "STATIC"))
            (property ASYNC_RESET_RELEASE
              (string "SYNC"))
            (property MEM_LPC_FILE
              (string "SamplePos_RAM.lpc"))
            (property MEM_INIT_FILE
              (string "sample_pos_lut.mem"))
            (property INITVAL_1F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1D
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1C
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1B
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_1A
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_19
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_18
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_17
              (string "0x082010800007E7F07C7E07A7D0787C0767B0747A072790707806E7706C7606A75068740667306472"))
            (property INITVAL_16
              (string "0x062710607005E6F05C6E05A6D0586C0566B0546A052690506804E6704C6604A65048640466304462"))
            (property INITVAL_15
              (string "0x042610406003E5F03C5E03A5D0385C0365B0345A032590305802E5702C5602A55028540265302452"))
            (property INITVAL_14
              (string "0x022510205001E4F01C4E01A4D0184C0164B0144A012490104800E4700C4600A45008440064300442"))
            (property INITVAL_13
              (string "0x00643002410FE3F0FA3D0F63B0F2390EE370EA350E6330E2310DE2F0DA2D0D62B0D2290CE270CA25"))
            (property INITVAL_12
              (string "0x0C6230C2210BE1F0BA1D0B61B0B2190AE170AA150A6130A21109E0F09A0D0960B0920908E0708A05"))
            (property INITVAL_11
              (string "0x08C060840207C7E0747A06C760647205C6E0546A04C660446203C5E0345A02C560245201C4E0144A"))
            (property INITVAL_10
              (string "0x0184C008440F83C0E8340D82C0C8240B81C0A8140B01809008070780506806070020500406008000"))
            (property INITVAL_0F
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0E
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0D
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0C
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0B
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_0A
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_09
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_08
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_07
              (string "0x20100201002010020100201002010020100201002010020100201002010020100201002010020100"))
            (property INITVAL_06
              (string "0x20100201002010020100201002010020100201002010020100201002010020100201002010020100"))
            (property INITVAL_05
              (string "0x20100201002010020100201002010020100201002010020100201002010020100201002010020100"))
            (property INITVAL_04
              (string "0x20100201002010020100201002010020100201002010020100201002010020100201002010020100"))
            (property INITVAL_03
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_02
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_01
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property INITVAL_00
              (string "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000"))
            (property CSDECODE_B
              (string "0b000"))
            (property CSDECODE_A
              (string "0b000"))
            (property WRITEMODE_B
              (string "NORMAL"))
            (property WRITEMODE_A
              (string "NORMAL"))
            (property GSR
              (string "ENABLED"))
            (property RESETMODE
              (string "ASYNC"))
            (property REGMODE_B
              (string "NOREG"))
            (property REGMODE_A
              (string "NOREG"))
            (property DATA_WIDTH_B
              (string "9"))
            (property DATA_WIDTH_A
              (string "9")))
          (net scuba_vhi
            (joined
              (portRef Z (instanceRef scuba_vhi_inst))
              (portRef ADB12 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADB0 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA0 (instanceRef SamplePos_RAM_0_0_0))))
          (net scuba_vlo
            (joined
              (portRef Z (instanceRef scuba_vlo_inst))
              (portRef CSB2 (instanceRef SamplePos_RAM_0_0_0))
              (portRef CSA2 (instanceRef SamplePos_RAM_0_0_0))
              (portRef CSB1 (instanceRef SamplePos_RAM_0_0_0))
              (portRef CSA1 (instanceRef SamplePos_RAM_0_0_0))
              (portRef CSB0 (instanceRef SamplePos_RAM_0_0_0))
              (portRef CSA0 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA12 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADB11 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA11 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADB2 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA2 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADB1 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA1 (instanceRef SamplePos_RAM_0_0_0))
              (portRef DIB8 (instanceRef SamplePos_RAM_0_0_0))
              (portRef DIB7 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout15
            (joined
              (portRef (member Q 0))
              (portRef DOB6 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout14
            (joined
              (portRef (member Q 1))
              (portRef DOB5 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout13
            (joined
              (portRef (member Q 2))
              (portRef DOB4 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout12
            (joined
              (portRef (member Q 3))
              (portRef DOB3 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout11
            (joined
              (portRef (member Q 4))
              (portRef DOB2 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout10
            (joined
              (portRef (member Q 5))
              (portRef DOB1 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout9
            (joined
              (portRef (member Q 6))
              (portRef DOB0 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout8
            (joined
              (portRef (member Q 7))
              (portRef DOA8 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout7
            (joined
              (portRef (member Q 8))
              (portRef DOA7 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout6
            (joined
              (portRef (member Q 9))
              (portRef DOA6 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout5
            (joined
              (portRef (member Q 10))
              (portRef DOA5 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout4
            (joined
              (portRef (member Q 11))
              (portRef DOA4 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout3
            (joined
              (portRef (member Q 12))
              (portRef DOA3 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout2
            (joined
              (portRef (member Q 13))
              (portRef DOA2 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout1
            (joined
              (portRef (member Q 14))
              (portRef DOA1 (instanceRef SamplePos_RAM_0_0_0))))
          (net dataout0
            (joined
              (portRef (member Q 15))
              (portRef DOA0 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain15
            (joined
              (portRef (member Data 0))
              (portRef DIB6 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain14
            (joined
              (portRef (member Data 1))
              (portRef DIB5 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain13
            (joined
              (portRef (member Data 2))
              (portRef DIB4 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain12
            (joined
              (portRef (member Data 3))
              (portRef DIB3 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain11
            (joined
              (portRef (member Data 4))
              (portRef DIB2 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain10
            (joined
              (portRef (member Data 5))
              (portRef DIB1 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain9
            (joined
              (portRef (member Data 6))
              (portRef DIB0 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain8
            (joined
              (portRef (member Data 7))
              (portRef DIA8 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain7
            (joined
              (portRef (member Data 8))
              (portRef DIA7 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain6
            (joined
              (portRef (member Data 9))
              (portRef DIA6 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain5
            (joined
              (portRef (member Data 10))
              (portRef DIA5 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain4
            (joined
              (portRef (member Data 11))
              (portRef DIA4 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain3
            (joined
              (portRef (member Data 12))
              (portRef DIA3 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain2
            (joined
              (portRef (member Data 13))
              (portRef DIA2 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain1
            (joined
              (portRef (member Data 14))
              (portRef DIA1 (instanceRef SamplePos_RAM_0_0_0))))
          (net datain0
            (joined
              (portRef (member Data 15))
              (portRef DIA0 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr7
            (joined
              (portRef (member Address 0))
              (portRef ADB10 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA10 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr6
            (joined
              (portRef (member Address 1))
              (portRef ADB9 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA9 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr5
            (joined
              (portRef (member Address 2))
              (portRef ADB8 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA8 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr4
            (joined
              (portRef (member Address 3))
              (portRef ADB7 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA7 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr3
            (joined
              (portRef (member Address 4))
              (portRef ADB6 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA6 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr2
            (joined
              (portRef (member Address 5))
              (portRef ADB5 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA5 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr1
            (joined
              (portRef (member Address 6))
              (portRef ADB4 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA4 (instanceRef SamplePos_RAM_0_0_0))))
          (net addr0
            (joined
              (portRef (member Address 7))
              (portRef ADB3 (instanceRef SamplePos_RAM_0_0_0))
              (portRef ADA3 (instanceRef SamplePos_RAM_0_0_0))))
          (net wren
            (joined
              (portRef WE)
              (portRef WEB (instanceRef SamplePos_RAM_0_0_0))
              (portRef WEA (instanceRef SamplePos_RAM_0_0_0))))
          (net Reset
            (joined
              (portRef Reset)
              (portRef RSTB (instanceRef SamplePos_RAM_0_0_0))
              (portRef RSTA (instanceRef SamplePos_RAM_0_0_0))))
          (net ClockEn
            (joined
              (portRef ClockEn)
              (portRef OCEB (instanceRef SamplePos_RAM_0_0_0))
              (portRef CEB (instanceRef SamplePos_RAM_0_0_0))
              (portRef OCEA (instanceRef SamplePos_RAM_0_0_0))
              (portRef CEA (instanceRef SamplePos_RAM_0_0_0))))
          (net clk
            (joined
              (portRef Clock)
              (portRef CLKB (instanceRef SamplePos_RAM_0_0_0))
              (portRef CLKA (instanceRef SamplePos_RAM_0_0_0))))))))
  (design SamplePos_RAM
    (cellRef SamplePos_RAM
      (libraryRef ORCLIB)))
)
